<!doctype html> <html lang="{{ .Language.Lang }}"> <head> <meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

{{ $pageTitle := .Params.title | default .Title | default .Site.Title }}

<title>
  {{ if .IsHome }}
    {{ .Site.Title }}
  {{ else }}
    {{ $pageTitle }} · {{ .Site.Title }}
  {{ end }}
</title>

{{ with .Description }}
  <meta name="description" content="{{ . }}" />
{{ else with .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
{{ end }}

<link
  rel="canonical"
  href="{{ .Permalink }}"
/>

{{ range .AllTranslations }}
  <link
    rel="alternate"
    hreflang="{{ .Language.Lang }}"
    href="{{ .Permalink }}"
  />
{{ end }}

<link
  rel="alternate"
  hreflang="x-default"
  href="{{ .Site.Home.Permalink }}"
/>


<link rel="stylesheet" href="{{ "css/main.css" | relURL }}" />
{{ partial "seo.html" . }}
{{ partial "schema.html" . }}
{{ block "head" . }}{{ end }}

</head> 
<body>

{{ partial "header.html" . }}

<main> {{ block "main" . }}{{ end }} </main>

{{ partial "footer.html" . }}

{{ $headerJS := resources.Get "js/header.js" | minify | fingerprint }}

<script src="{{ $headerJS.RelPermalink }}" integrity="{{ $headerJS.Data.Integrity }}" defer ></script>

{{ block "scripts" . }}{{ end }}

</body> 

</html>