<!doctype html> <html lang="{{ .Language.Lang }}"> <head> <meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<title> {{ if .IsHome }} {{ .Site.Title }} · {{ .Title }} {{ else }} {{ .Title }} · {{ .Site.Title }} {{ end }} </title>

{{ with .Description }}
<meta name="description" content="{{ . }}" />
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}" />
{{ end }}

<link
  rel="canonical"
  href="{{ .Permalink }}"
/>

{{ range .AllTranslations }}
  <link
    rel="alternate"
    hreflang="{{ .Language.Lang }}"
    href="{{ .Permalink }}"
  />
{{ end }}

<link
  rel="alternate"
  hreflang="x-default"
  href="{{ .Site.Home.Permalink }}"
/>


<link rel="stylesheet" href="{{ "css/main.css" | relURL }}" /> <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

{{ block "head" . }}{{ end }}

</head> <body> <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" ></script>

{{ partial "header.html" . }}

<main> {{ block "main" . }}{{ end }} </main>

{{ partial "footer.html" . }}

{{ $headerJS := resources.Get "js/header.js" | minify | fingerprint }}

<script src="{{ $headerJS.RelPermalink }}" integrity="{{ $headerJS.Data.Integrity }}" defer ></script>

{{ $routeMapJS := resources.Get "js/route-map.js" | minify | fingerprint }}

<script src="{{ $routeMapJS.RelPermalink }}" integrity="{{ $routeMapJS.Data.Integrity }}" defer ></script> </body> </html>